{% extends "base.html" %}
{% block content %}
<div class="container bg-light">
{% include 'choose_shipping.html' with form_frete=form_frete %}
  <h1>Checkout</h1>
  <p>Produtos:</p>
  <p>
    {% for i in object.cart.products.all %}
      {% if forloop.last %}
        <b>{{ i.name }}</b>
      {% else %}
      <b>{{ i.name }},</b>
      {% endif %}
    {% endfor %}
  </p>
  <p>Total do carrinho: {{ object.cart.total }}</p>
  <p>Frete: {{ object.preco_prazo}}</p>
  <p>total: {{ object.total }}</p>
  {% if object.preco_prazo != 0 %}
    <a href="pagamento" class="btn btn-success">Pagar</a>
  {% endif %}
</div>
{% endblock %}