{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'app/css/base_style.css' %}">
        <link rel="shortcut icon" href="{% static 'app/img/logo.png' %}" type="image/x-icon">
        {% block css_path %} {% endblock %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    <title>{% block tittle %}OldSuply{% endblock %}</title>
</head>
<body style="background: url('{% static '/app/img/pixa.png' %}') no-repeat;
            background-size: cover;
            margin: 0;
            padding: 0;">
    <nav class="navbar navbar-expand-lg nav-light bg-light">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
            <img id='logo' class="logo" src="{% static 'app/img/logo.png' %}" alt="" width="100">
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a href="/cart/" class="nav-link">carrinho</a>
                </li>
                <li class="nav-item"><a href="/products" class="nav-link">produtos</a></li>
                {% if not request.user.is_authenticated %}
                <li class="nav-item"><a href="/login" class="nav-link ">Login</a></li>
                <li class="nav-item"><a href="/register" class="nav-link">Registrar</a></li>
                {% else %}
                <li class="nav-item"><a href="/profile/{{ request.user.username }}" class="nav-link btn">{{ request.user.username }}</a></li>
                <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
                {% endif %}
                <li class="nav-item"><a href="/admin" class="nav-link">Admin</a></li>
                <!-- esse admin é provisório -->
            </ul>
        </div>
        
    </nav>
    <span id="separation"></span>
    
    {% block content %}
    {% endblock %}
    <div id="footer"class="container-md">
    <footer>
    &copy; 2023 OldSuply. Todos os direitos reservados.
  </footer></div>
</body>
<script src="{% static 'app/js/script.js' %}"></script>
</html>