{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'app/css/base_style.css' %}">
        <link rel="shortcut icon" href="{% static 'app/img/logo.png' %}" type="image/x-icon">
        {% block css_path %} {% endblock %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    <title>{% block tittle %}OldSuply{% endblock %}</title>
</head>
<body>
    <!-- <nav class="navbar"><h2 onclick="goTo()">Logo</h2>
        <button>Carrinho</button>
        <button onclick="goTo('register')">Registrar</button>
        <button onclick="goTo('admin')">Admin</button>
    </nav> -->
    <nav class="navbar navbar-expand-lg nav-dark bg-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
            <img src="{% static 'app/img/logo.png' %}" alt="" width="100">
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a href="/cart/" class="nav-link">carrinho</a>
                </li>
                <li class="nav-item"><a href="/products" class="nav-link btn">produtos</a></li>
                {% if not request.user.is_authenticated %}
                <li class="nav-item"><a href="/login" class="nav-link btn">Login</a></li>
                <li class="nav-item"><a href="/register" class="nav-link btn">Registrar</a></li>
                {% else %}
                <li class="nav-item"><a href="/logout" class="nav-link btn">Logout</a></li>
                {% endif %}
                <li class="nav-item"><a href="/admin" class="nav-link btn">Admin</a></li>
                <!-- esse admin é provisório -->
            </ul>
        </div>
        
    </nav>
    <span id="separation"></span>
    
    {% block content %}
    {% endblock %}
    <div class="container-md">
    <footer>
    &copy; 2023 OldSuply. Todos os direitos reservados.
  </footer></div>
</body>
<script src="{% static 'app/js/script.js' %}"></script>
</html>