{% extends "base.html" %}
{% load static %}
{% block css_path %}
        <link rel="stylesheet" href="{% static 'app/css/index.css' %}"> 
        <link rel="stylesheet" href="{% static 'app/css/carrossel_style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
{% block content %}

<div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" >
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="{{ first.get_absolute_url }}"> <img class="img-item" src="{{ first.image.url }}" width="250"  height="250"alt="{{ first.name }}"></a> </div>
            {% for p in products %}
            <div class="carousel-item">
                <a href="{{ p.get_absolute_url }}"> <img class="img-item" src="{{ p.image.url }}" width="250"  height="250"alt="{{ p.name }}"></a>
            </div>
            
            {% endfor %}

            <a class="bnt1" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="bnt2" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>
</div>

{% endblock %}