{% extends "base.html" %}
{% load static %}
{% block css_path %} <link rel="stylesheet" href="{% static 'app/css/index.css' %}"> <link rel="stylesheet" href="{% static 'app/css/carrossel_style.css' %}"> {% endblock %}
{% block content %}

<div>
    <section class="galery">
        <div class="fotos">
            {% for p in products %}
            <a href="{{ p.get_absolute_url }}"> <img src="{{ p.image.url }}" width="250"  height="250"alt="{{ p.name }}"></a>
            
            {% endfor %}
            
        </div>
    </section>
</div>

{% endblock %}