{% extends "base.html" %}
{% load static %}
{% block css_path %} <link rel="stylesheet" href="{% static 'index.css' %}"> <link rel="stylesheet" href="{% static 'carrossel_style.css' %}"> {% endblock %}
{% block content %}

<div>
    <section class="galery">
        <div class="fotos">
            <img src="{% static 'img/foto01.jpg'%}" alt="Foto 1">
            <img src="{% static 'img/foto02.jpg'%}" alt="Foto 2">
            <img src="{% static 'img/foto03.jpg'%}" alt="Foto 3">
            <img src="{% static 'img/foto04.jpg'%}" alt="Foto 4">
        </div>
    </section>
</div>

{% endblock %}