{% extends "base.html" %}
{% load static %}
{% block css_path %} <link rel="stylesheet" href="{% static 'login.css' %}"> {% endblock %}
{% block content %}
<div id="container"> <p id="log">Logar</p>
    <form action="" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Senha</label>
        <input type="password" name="password" id="password">
        
        <input id="subform" type="submit" value="Logar">
    </form>
</div>    
{% endblock %}