{% extends "profile_base.html" %}
{% load static %}

{% block info_content %}Seu Pedido:{% endblock %}
{% block profile_content %}
<div class="row g-2">
  <div class="col mb-2">
    <h5>Número do pedido:</h5>
    <p>{{ order.order_id }}</p>
  </div>
  <div class="col mb-2">
    <h5>Status do pedido:</h5>
    <p>{{ order.order_status }}</p>
  </div>
  <div class="col mb-2">
    <h5>Valor do pedido:</h5>
    <p>{{ order.total }}</p>
  </div>
  <div class="row mb-2">
    <h5>Enviando para:</h5>
    <p>{{ order.address.street_address }}, {{ order.address.number}}, {{ order.address.bairro }}</p>
    <p>{{ order.address.cep }}. {{ order.address.city }} - {{ order.address.state }}</p>
  </div>
</div>
{% endblock%}